NEXT_PUBLIC_APP_NAME=Academic Events Hub
NEXT_PUBLIC_APP_SHORT_NAME=AEH
NEXT_PUBLIC_UNIVERSITY_NAME=Banaras Hindu University
NEXT_PUBLIC_SUPPORT_EMAIL=support@example.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_ORIGIN=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=402321691086-bcnnafhb10qalgfnr99bep1f26ltt8la.apps.googleusercontent.com
